<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<security-role>
		<role-name>manager</role-name>
	</security-role>
	<security-role>
		<role-name>supervisor</role-name>
	</security-role>
	<security-role>
		<role-name>developer</role-name>
	</security-role>

	<!--request.isUserInRole("vip")-->
	<servlet>
		<servlet-name>UserInRole</servlet-name>
		<servlet-class>com.example.UserInRole</servlet-class>
		<security-role-ref>
			<description/>
			<role-name>vip</role-name>
			<role-link>supervisor</role-link>
		</security-role-ref>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInRole</servlet-name>
		<url-pattern>/UserInRole</url-pattern>
	</servlet-mapping>

	<!--request.getUserPrincipal()-->
	<servlet>
		<servlet-name>UserPrincipal</servlet-name>
		<servlet-class>com.example.UserPrincipal</servlet-class>
		<security-role-ref>
			<description/>
			<role-name>DEVELOPER</role-name>
			<role-link>developer</role-link>
		</security-role-ref>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserPrincipal</servlet-name>
		<url-pattern>/UserPrincipal</url-pattern>
	</servlet-mapping>

	<!--FORM authentication-->
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>default</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<!--Servlet for Security Constraint Testing-->
	<servlet>
		<servlet-name>Foo</servlet-name>
		<servlet-class>com.example.FooServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Foo</servlet-name>
		<url-pattern>/Bar/Baz/*</url-pattern>
	</servlet-mapping>

	<!--Security Constraint-->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Foo</web-resource-name>
			<url-pattern>/Bar/Baz/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>DEVELOPER</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
